body{
    font-size: 20px;
    background-color: #f9f9f9;
    font-family: "Nunito", sans-serif;
    margin: 0px;
}

p,h1,h2,h3,ul{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul{
    list-style: none;
}

.container{
    margin: 0 auto;
    width: 1620px;
}
.popular{
    padding-top: 60px;
    padding-bottom: 60px;
   
}

.popular-list{
    display: flex;
    gap: 20px;
}
.popular-item{
    background-color: #EFEFEF;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 140px;
    padding-left:70px;
    display: flex;
    gap: 117px;
    align-items: center;
}

.popular-title{
    font-weight: 700;
    font-size: 36px;
    color: #FF463A;
    padding-bottom: 10px;
}

.popular-price{
    font-family:"Raleway",sans-serif ;
    padding-bottom: 45px;
    
}

.popular-link{
   padding:15px 30px 15px 30px ;
font-family:"Raleway",sans-serif ;
border: 1px solid #000000;
border-radius: 5px;

}

.top{
    padding-top:60px ;
    padding-bottom: 100px;
    background-color: #FFE4CC;
}

.top-title{
    font-weight: 700;
    color: #FF463A;
    padding-bottom: 40px;
    font-size: 48px;
   text-align: center;
}

.top-text{
    text-align: center;
    font-family:"Raleway",sans-serif ;
    padding-bottom: 68px;
}

.top-list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contacts{
    padding-top:100px ;
    padding-bottom: 100px;
}
.contacts-list{
    display: flex;
    gap: 20px;
    
}

.contacts-item{
    box-shadow: 0px 0px 17px 0px #00000040 ;
    padding-top: 30px; 
    padding-bottom:53px ;
    width: 100%;
    text-align: center;
    border-radius: 10px;
       
}
.contacts-item:hover .contacts-title  {
    
   color: #ffffff;

       
}
.contacts-item:hover  {
    background-color: #FF463A;    
}

.contacts-item:hover .contacts-link{
    color: #ffffff;

}

.contacts-title{
    font-size: 32px;
    font-weight: 700;
    padding-top:40px;
    padding-bottom:25px ;
    color:#FF463A ;
}
.contacts-text, .contacts-link{
    font-size: 24px;
    font-family:"Raleway",sans-serif ;
    color: #000000;

}
    
